.container12{
    width: 90%;
    margin-left: 5%;

}
@media (max-width: 576px) {
    .container12 {
        width: 95%;
        padding: 0 5px;
    }
}

/* Small to medium devices (tablets) */
@media (max-width: 768px) {
    .container12 {
        width: 92%;
    }
}